yellowdog-sdk == 8.1.2
toml
tabulate >= 0.9.0
PyPAC >= 0.16.4
rich >= 13.7.1
requests
boto3
google-cloud-compute
google-cloud-storage
azure-identity
azure-mgmt-resource
azure-mgmt-network
azure-mgmt-storage
azure-mgmt-subscription
dateparser
