black
build
cli-test-helpers
isort
packaging
pipdeptree
pyinstaller
pyqt6
pytest
pytest-xdist
python-dispatch >= 0.2.2 # Eliminates pytest packaging warnings, but conflicts with SDK requirement
pyupgrade
setuptools
twine
wheel
