# YellowDog Platform URL
yda.services-schema.default-url: "https://portal.yellowdog.co/api/"

# Configured Worker Pool token, obtained from the 'Add Configured Worker Pool'
# button found in the 'Workers' tab of the YellowDog Portal
yda.token: "<INSERT Token HERE>"

# Host properties
# Property 'yda.provider' must be "ON_PREMISE" for Configured Worker Pools
# Property 'yda.instanceId' must be unique within this Worker Pool
yda.provider: "ON_PREMISE"
yda.region: ""
yda.instanceId: "host_01"
yda.instanceType: ""
yda.ram: 16.0
yda.vcpus: 10.0
yda.hostname: "host_01"
# yda.privateIpAddress: 
# yda.publicIpAddress: 

yda.sourceName: "Example Source Name"

# Number of workers
# Can be "PER_NODE" or "PER_VCPU"
yda.createWorkers:
  targetType: "PER_NODE"
  targetCount: 2

# Tasks type(s) that can be run by the workers on this host
yda.taskTypes:
  - name: "bash"
    run: "/bin/bash"

# Optional tag used to match with workerTags in Task Groups
yda.workerTag: "BASH-TEST"

# Availability schedule
# (Schedule format is cron, but with an additional first field representing seconds)
yda.schedule: 
  enabled: false 
  startup: 
    - "0 0 18 * * MON-FRI" 
  shutdown: 
    - "0 0 7 * * MON-FRI" 

# Other available properties; not used for now
# yda.retryInitialIntervalMillis: 10000
# yda.retryMaxIntervalMillis: 10000
# yda.outputSources: 
#  - name: "my_output_1"
#    path: "/outputs/files/"
